@model InfTech.Core.Dtos.FileDto[]

@foreach (var file in Model)
{
    <div class="file-tree-item" file-id="@file.Id" file-name="@(file.Name + file.Extension.Type)" folder-id="@file.FolderId">
        <span class="icon">
            @Html.Raw(file.Extension.Icon)
        </span>
        <p class="name">@file.Name</p>
        <p>@file.Extension.Type</p>
        <span class="description">@file.Description</span>
    </div>
}
